<div class="container">
  <h2>Assignment 2 </h2>
  <ol>
    <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
  </ol>
  <hr/>
  <label>UserName</label>
  <input type="text"
         class="form-control"
         (input)="onUpdatebBtn($event)"
         [(ngModel)]="userName"/>
  <!--(input)="onUpdateServerName($event)"-->
  <p>{{userName}}</p>

  <!-- instead of !username could have put username === '' as long as expression results in true or false-->
  <!--instead of the onResetUsername method could have directly made it equal to nothing as so : username = ''-->
  <!-- 3 equals signs check, 1 assigns -->
  <button class="btn btn-primary"
          [disabled]="!userName"
          (click)="onResetUserName()">
    Reset UserName!
  </button>
</div>


